<div class="alert alert-error">
<p>Please note that the admin section of this site has been locked due to repeat login failures.</p>
<p>To reset your admin access please email <%= Ocd::Application.config.support_email %> from the email address used to sign up to this site and request a password reset.</p>
</div>
