<%= form_tag({:controller => :main, :action => :sign_up_process},:remote => true, :id => 'sign_up_form', :class => "form-horizontal") do |f| %>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Sign up</h3>
    </div>
<div id="sign_up_details">
    <%= render :partial => 'main/sign_up_details' %>
</div>
    <div class="modal-footer">
        <button id="login" class="btn btn-primary" onclick="$('#sign_up_form').submit();">Create collection</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<% end %>
