<%= render :partial => 'main/terms_and_conditions_detail' %>

<div style="text-align:center;">
<h4>By clicking the Continue button you confirm that you have read and agree to the terms of usage above</h4>
<%= link_to('Continue', {:controller => :main, :action => :sign_up, :remote => true}, :class => 'btn btn-success' ) %>
</div>
<script>
    $('#right').hide();
</script>
