<h4>Welcome to the online collections database. This site is dedicated to making the collecting of just about anything far more enjoyable via an easy to use online database system. Enjoy sharing your collection with a worldwide audience.</h4>
<br/>
<div class="alert alert-info">
<h4>Some of the key features :</h4>
<br/>
<ul>
<li><h5>Hassle free setup, just sign up and start adding your items online</h5></li>
<li><h5>The choice to allow us to showcase your collection</h5></li>
<li><h5>Social media integration to let your friends know when you have been collecting</h5></li>
<li><h5>Easy to use interface</h5></li>
<li><h5>Control, you decide what items will be visible to the public, the rest are hidden</h5></li>
<li><h5>Multiple field options to best describe your collection</h5></li>
</ul>
</div>
<div style="clear:both;"></div>
<h4>So go ahead and sign up. We look forward to seeing your collection online.</h4>
