<div id="notice_bar">
<div class="alert alert-info">
    Please tell us more about yourself and your collection. This is what appears against the About menu option on the main page.
</div>
</div>
<%= form_tag({:controller => :settings, :action => :about_update}, :remote => true, :id => 'about_update' , :authenticity_token => form_authenticity_token ) do |f| %>

    <textarea name="about" id="about" style="width:99%; height:300px;"><%= @about.content %></textarea>
    <br/>
    <div style="float:right;">
        <button onclick="$('#about_update').submit();return false;" class="btn btn-primary" type="b
utton" id="save_button">Save</button>
    </div>
<% end %>


