<tr>
    <td valign="top">
       Site tracker script<br/>(e.g. Google Analytics) &nbsp;<span class="label label-info" style="cursor:help;" title="Add your Google tracker code here. You may have to contact support to upload any additional files required by Google in order to validate the usage of your code.">?</span>
    </td>
    <td>
        <%= text_area_tag 'site[tracker_code]', @site.tracker_code, :rows => 5, :cols => 50  %>
    </td>
</tr>
