<tr>
    <td valign="top">
       Site tracker script<br/>(e.g. Google Analytics)
    </td>
    <td>
        <%= text_area_tag 'site[tracker_code]', @site.tracker_code, :rows => 5, :cols => 50  %>
    </td>
</tr>
