<!-- WELCOME -->
<div id="notice_bar">
<div class="alert alert-info">
This is the administration section of the online collectors database. Select what you want to configure from the menu on the left.
</div>
</div>
<dl class="dl-horizontal">
<dt>Collections</dt>
<dd>
This is where you can add "virtual collections" of items. The concept here is to provide a way to group items which belong together and which you want to present in a grouping. Examples of this would be books. A book could be a hard cover or soft cover book and hence you could create both a hard and soft cover collection. When working with items you will be able to assign any number of these collections to the item you are working with.
<br/><br/>
</dd>
<dt>Conditions</dt>
<dd>
This is used to define the condition of an item. For example the condition of a book may be <strong>"Cover damaged"</strong> or <strong>"Torn pages"</strong>. You can specify any number of conditions and apply as many of these to an item as is required to define the condition of an item.
</dd>
</dl>
