<!-- WELCOME -->
<div id="notice_bar">
<div class="alert alert-info">
This is the administration section of the online collectors database. Select what you want to configure from the menu on the left.
</div>
</div>
<dl class="dl-horizontal">
<dt>Items</dt>
<dd>
<%= render :partial => 'items/item_help' %>
<br/><br/>
</dd>
<dt>Collections</dt>
<dd>
<%= render :partial => 'settings/collections_help' %>
<br/><br/>
</dd>
<dt>Tags</dt>
<dd>
<%= render :partial => 'settings/tags_help' %>
</dd>
</dl>
