<div id="notice_bar">
<% if current_site.tags_help? then %>
<div class="alert alert-info">
    <%= render :partial => 'settings/tags_help' %>
</div>
<% end %>
</div>
<%= form_tag({:controller => :settings, :action => :about_update}, :remote => true, :id => 'about_update' , :authenticity_token => form_authenticity_token ) do |f| %>

    <div style="float:right;">
        <button onclick="$('#about_update').submit();return false;" class="btn btn-primary" type="b
utton" id="save_button">Save</button>
    </div>
<% end %>

