<table class="table table-hover">
<thead>
    <th>
        ID
    </th>
    <th>
        Name
    </th>
    <th>
        Action
    </th>
</thead>
<tbody>
    <% if @items != nil and @items.count > 0 then %>
    <% @items.each do |item| %>
        <tr>
            <td>
                <%= item.collection_id %>
            </td>
            <td width=90%>
                <%= item.name %>
            </td>
            <td>
                <% geturl = url_for :controller => 'items', :action => 'edit', :id => encrypt(item.id) %>
                <button onclick="$.ajax({url : '<%= geturl %>'});" type="button" class="btn btn-mini btn-info" style="width:75px;">Edit</button>
            </td>
        </tr>
    <% end %>
    <% else %>
        <tr>
            <td>
                &nbsp;
            </td>
            <td width=90%>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    <% end %>
</tbody>
</table>
