
<div id="myModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 id="myModalLabel"><%= @item.name %></h4>
    </div>
    <div class="modal-body">
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#item_main" data-toggle="tab">Main</a></li>
    <li><a href="#item_extra" data-toggle="tab">Extra</a></li>
    <li><a href="#item_image" data-toggle="tab">Image</a></li>
</ul>
<div class="tab-content">
    <%= render :partial => 'items/edit_item_main' %>
    <%= render :partial => 'items/edit_item_extra' %>
    <%= render :partial => 'items/edit_item_image' %>
</div>
</div>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

$('#myModal').on('show', function () {

    $(this).find('.modal-body').css({width:'auto',
                               height:'auto',
                              'max-height':'100%'});
});
</script>



