<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#fieldslist" href="#<%= item.slug %>"><%= item.name %></a>
    </div>
    <div id="<%=item.slug%>" class="accordion-body collapse">
        <div class="accordion-inner">
            <div id="<%=item.slug%>_inner"></div>
        </div>
    </div>
</div>
