<div id="notice_bar">
<div class="alert alert-info">
<%= render :partial => 'items/list_options_help' %>
</div>
<strong>SAMPLE</strong><br/><br/>
</div>
<div id="item_sample">
<%= render :partial => 'items/item_in_list', :locals => {:item => current_site.things.first} %>
</div>
<br/><br/>
<div>

</div>
